<body>
     
    <div class="centerl">

            <div class="center2">
                <input class="button2" type='button' value='X' onclick='history.go(-1)' />       
            </div>

        <div class="center">
                <button class="msg">Laboratorio Livre</button>
             <textarea class="form" [(ngModel)]="texto2"  rows="3" cols="70"> </textarea>
        </div>

        <div class="center">
            <button class="msg msg2">Mensagem</button>
         <textarea class="form" [(ngModel)]="texto"  rows="3" cols="70"> </textarea>
        </div>
              
        <div class="center">
            <button class="button" name="button" (click)="salvar()" onclick='history.go(-1)' >Salvar</button>       
        </div>
        
    


        

    </div>  
    
    

  
        








</body>






