body {
    background-color: #d6d6d6;
    background-image: none;
}

.center {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-top: -10px;
}


.center1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.centerl {
    border-radius: 8px;
    padding-top: 30px;
    height: 380px;
    margin-left: 25%; 
    margin-right: 25%; 
    padding: 11px;
}

.form {
   padding: 5px;
   color: rgb(68, 68, 68);
   border-radius: 4px;
   background-color: #cfcfcf;
}


.form2 {
   margin-top: 10px;
}

.msg2 {
    margin-top: 20px;
}

.msg {
    padding: 5px;
    color: white;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    background-color: #a8a8a8;
}


.msg3 {
    padding: 10px;
    color: white;
    width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    background-color: #143049;
}


.button{
    width: 100px;
    padding: 6px 0px;
    color: white;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: rgb(44, 77, 57);
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
  
}

.button2{
    width: 50px;
	height: 50px;
    border-radius: 50%;
    overflow: hidden;
    color: white;
    font-size: 20px;
    background-color: #912727;
    border: solid 2px white;
    cursor: pointer;
  
}









































